.header {
  height: 97px;
  width: calc(100% - 300px);
  padding: 20px 32px 28px 24px;
  position: fixed;
  top: 0;
  right: 0;
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.header h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--text);
}

.button {
  padding: 14px 24px;
  border: none;
  background: var(--main-purple);
  border-radius: 24px;
  font-size: 15px;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}

.button:hover {
  background: var(--main-purple-hover);
}

.emptyButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 24px;
}
