.dropDownWrapper {
  position: relative;
}

.dropDownWrapper svg {
  position: absolute;
  top: 15px;
  right: 16px;
}

.dropDownWrapper select {
  border: 1px solid var(--lines-grey);
  width: 100%;
  padding: 9px 16px;
  background: transparent;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  color: var(--text);
  cursor: pointer;
  appearance: none;
}

.dropDownWrapper select option {
  color: black;
  font-size: 13px;
  font-family: inherit;
}
