:root {
  --main-purple: #635fc7;
  --main-purple-opacity: rgb(99, 95, 199, 0.1);
  --black: #000112;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --medium-grey: #828fa3;
  --light-grey: #f4f7fd;
  --white: #ffffff;
  --red: #ea5555;
  --red-hover: #ff9898;
}

html.light {
  --text: #000112;
  --main-purple-hover: #a8a4ff;
  --bg-primary: #f4f7fd;
  --primary-hover: rgb(99, 95, 199, 0.1);
  --bg-secondary: #ffffff;
  --btn-secondary: rgb(99, 95, 199, 0.1);
  --btn-secondary-hover: rgb(99, 95, 199, 0.25);
  --lines-dark: #e4ebfa;
}

html.dark {
  --text: #ffffff;
  --main-purple-hover: #635fc7;
  --bg-primary: #20212c;
  --primary-hover: #ffffff;
  --bg-secondary: #2b2c37;
  --btn-secondary: #ffffff;
  --btn-secondary-hover: #ffffff;
  --lines-dark: #3e3f4e;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg-primary);
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color ease-in 0.05s;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.layout {
  display: flex;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}
