:root {
  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --main-purple-opacity: rgb(99, 95, 199, 0.1);
  --main-purple-opacity-2: rgb(99, 95, 199, 0.25);
  --black: #000112;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --medium-grey: #828fa3;
  --medium-grey-opacity: rgba(130, 143, 163, 0.25);
  --light-grey: #f4f7fd;
  --white: #ffffff;
  --red: #ea5555;
  --red-hover: #ff9898;
  --lines-grey: rgba(130, 143, 163, 0.248914);
}

html.light {
  --text: #000112;
  --bg-primary: #f4f7fd;
  --bg-primary2: linear-gradient(
    180deg,
    #e9effa 0%,
    rgba(233, 239, 250, 0.5) 100%
  );
  --primary-hover: rgb(99, 95, 199, 0.1);
  --bg-secondary: #ffffff;
  --btn-secondary: rgb(99, 95, 199, 0.1);
  --btn-secondary-hover: rgb(99, 95, 199, 0.25);
  --lines-dark: #e4ebfa;
  --box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  --label: var(--medium-grey);
  --skeletonInit: rgb(163, 184, 194);
  --skeletonEnd: rgb(163, 184, 194, 0.2);
  --dragOver: #eee;
}

html.dark {
  --text: #ffffff;
  --bg-primary: #20212c;
  --bg-primary2: linear-gradient(
    180deg,
    rgba(43, 44, 55, 0.25) 0%,
    rgba(43, 44, 55, 0.125) 100%
  );
  --primary-hover: #ffffff;
  --bg-secondary: #2b2c37;
  --btn-secondary: #ffffff;
  --btn-secondary-hover: #ffffff;
  --lines-dark: #3e3f4e;
  --box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  --label: var(--text);
  --skeletonInit: rgba(43, 44, 55, 1);
  --skeletonEnd: rgba(43, 44, 55, 0.1);
  --dragOver: #30313f;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg-primary);
  font-family: var(--font-plus-jakarta);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color ease-in 0.05s;
  font-family: var(--font-plus-jakarta);
}

.layout {
  display: flex;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}
