.column {
  min-width: 280px;
  max-width: 280px;
  height: 100%;
}

.column h5 {
  font-size: 12px;
  font-weight: 700;
  color: var(--medium-grey);
  letter-spacing: 2.4px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.column h5 span {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.task {
  color: var(--text);
  border: 0;
  background: var(--bg-secondary);
  padding: 23px 16px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  text-align: left;
  min-width: 280px;
  max-width: 280px;
  margin-bottom: 20px;
  cursor: pointer;
}

.task h6 {
  color: var(--text);
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 8px;
}

.task p {
  color: var(--medium-grey);
  font-weight: 700;
  font-size: 12px;
}

.noBoards {
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.noBoards .inner {
  max-width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noBoards h1 {
  margin-bottom: 16px;
  color: var(--text);
}

.noBoards p {
  max-width: 600px;
  margin-bottom: 16px;
  color: var(--text);
}

.bottomDrop {
  width: 100%;
  height: 120px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--medium-grey);
  font-size: 20px;
  border-radius: 8px;
  opacity: 0;
}

.dragOver {
  background: var(--dragOver);
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
