.wrapper {
  margin-top: 97px;
  margin-left: 300px;
  width: calc(100vw - 300px);
  overflow: hidden;
  transition: width 0.1s ease-in, margin 0.1s ease-in;
}

.board {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  width: 100%;
  height: calc(100vh - 97px);
  padding: 24px 48px;
}

.full {
  margin-left: 0;
  width: 100%;
}
