.form label {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: var(--label);
  margin-bottom: 8px;
}

.form input,
.form textarea {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  font-size: 13px;
  font-weight: 500;
  color: var(--text);
  border: 1px solid var(--medium-grey-opacity);
  border-radius: 4px;
  background: transparent;
  line-height: 23px;
}

.form textarea {
  height: 112px;
  resize: none;
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--text);
  opacity: 0.25;
}

.subTaskInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 12px;
  gap: 16px;
}

.subTaskInput button {
  background: none;
  border: 0;
  cursor: pointer;
}

.formGroup {
  margin-bottom: 24px;
  display: block;
  position: relative;
}

.formGroup span.error,
.subTaskInput.subtaskError span {
  font-size: 13px;
  font-weight: 500;
  color: var(--red);
  position: absolute;
  top: 34px;
  right: 16px;
}

.subTaskInput span {
  display: none;
}

.subTaskInput.subtaskError span {
  top: 11px;
  right: 48px;
  display: block;
}

.subTaskInput.subtaskError button svg path {
  fill: var(--red);
}

input.error {
  border-color: var(--red);
}

.btn {
  width: 100%;
  padding: 8.5px 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
}

.primary {
  background: var(--main-purple);
  color: var(--white);
}

.primary:hover {
  background: var(--main-purple-hover);
}

.secondary {
  background: var(--btn-secondary);
  color: var(--main-purple);
}

.secondary:hover {
  background: var(--btn-secondary-hover);
}

.danger {
  background: var(--red);
  color: var(--white);
}

.danger:hover {
  background: var(--red-hover);
}

.secondary svg path {
  fill: var(--main-purple);
}

.form small {
  color: var(--medium-grey);
  font-weight: 500;
  font-size: 12px;
  display: block;
  margin-top: -20px;
  margin-bottom: 24px;
}

.form small button {
  color: var(--main-purple);
  font-weight: 500;
  font-size: 12px;
  border: 0;
  background: none;
  cursor: pointer;
}
